/* common css  */
body {
    margin: 0;
    padding: 0;
}
:root {
    --color_purple: #6c3ec1;
    --white: #ffffff;
}

/* common css  */

/* navbar start */
.navbar {
    background-color: var(--color_purple);
    /* --bs-bg-opacity: 0.5; */
}
.nav-item {
    margin-left: 2rem;
}
/*  */
.nav-link {
    color: #b2b2b2;
}
.nav-link:hover {
    border-bottom: 1px solid;
    color: #ffffff;
}
/* navbar end */

/* foooter start  */
.margin_top {
    margin-top: 347px;
}
footer {
    background-color: var(--color_purple);
}
footer li {
    display: inline-block;
    margin-right: 1rem;
}
footer li:last-child {
    margin-right: 0;
}
footer li a {
    text-decoration: none;
}
footer li,
footer li a {
    color: var(--white);
}
/* foooter end  */
